<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
<title>Budget Index</title>
</head>
<body><div class="container">
        <h1>Budgtr Budget</h1>
<input type="button" onclick="newItem()" id="new" value="ADD ITEM"></input>
<table>
            <tr id="balance">
            <td id="bank-title">Bank Account</td>
            <td id="bank-account"><%=bankAccount%></td>
            </tr>
            </table>
        <table>
        <% for(let i=0; i < budgetItems.length; i++){ %>
        <tr>
        <td><%= budgetItems[i].date %></td>
        <td><a href="http://localhost:3000/budget/<%=[i]%>"><%= budgetItems[i].name %></a></td>
        <td><%= budgetItems[i].amount%></td>
        </tr>
        <% } %>
        </table></div></body>
    <style>

#balance{
    border: 2px solid black;
}
    </style>
<script>
let balance = document.getElementById("bank-account");
let bankAccountBalance = Number(balance.innerHTML)
balance.style.padding = "6px"

let bankAccountTitle = document.getElementById("bank-title");
bankAccountTitle.style.fontWeight = "bold"
bankAccountTitle.style.padding = "6px"

if(bankAccountBalance > 1000){
    balance.style.backgroundColor = "green"

}
else if(bankAccountBalance < 0){
    balance.style.backgroundColor = "red"
}

function newItem() {
window.location.assign("http://localhost:3000/budget/new")
}
</script>
</html>

