<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Budget Item</title>
</head>
<body>
    <div class="container">
    <h1><%= budgetItem.name %></h1>
    <input type="button" onclick="goBack()" id="back" value="BACK"></input>
    <h5>date</h5>
    <h6><%=budgetItem.date%></h6>
    <h5>name</h5>
    <h6><%=budgetItem.name%></h6>
    <h5>from</h5>
    <h6><%=budgetItem.from%></h6>
    <h5>amount</h5>
    <h6><%=budgetItem.amount%></h6>
    <h5>tags</h5>
    <h6><%=budgetItem.tags%></h6></div>
</body>
<style>
    h5{
        font-weight: bold;
    }
    h6{
        font-style: italic;
    }
</style>
    <script>
function goBack() {
    window.location.assign("http://localhost:3000/budget")
}
</script>
</html>
