<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Budget Item</title>
</head>
<body>
    <div class="container">
    <h1><%= budgetItem.name %></h1>
    <input type="button" onclick="goBack()" id="back" value="BACK"></input>
    <h4>date</h4>
    <h6><%=budgetItem.date%></h6>
    <h4>name</h4>
    <h6><%=budgetItem.name%></h6>
    <h4>from</h4>
    <h6><%=budgetItem.from%></h6>
    <h4>amount</h4>
    <h6><%=budgetItem.amount%></h6>
    <h4>tags</h4>
    <h6><%=budgetItem.tags%></h6></div>
</body>
    <script>
function goBack() {
    window.location.assign("http://localhost:3000/budget")
}
</script>
</html>
